#site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #00b300;
    padding: 15px 20px;
    display: flex;
    justify-content: flex-start; /*space-between: Items display with equal spacing between them.*/
    align-items: center;
}

#site-name {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00b300; 
  top:0
  left:20%

}

li {
  float: left; 
}

li a {
  display: block;
  color: white; 
  text-align: center;
  padding: 20px 20px; 
transition: background-color 0.3s; /*Smooth transition for hover effect*/
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f0f4f8;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
  margin-left: 850px; 
  display: flex;
  align-items: center;
}

#search {
  padding: 8px; 
  font-size: 16px;
}

.search-btn {
  padding: 8px 15px; 
  font-size: 16px;
  cursor: pointer;
  background-color:#f0f4f8;
  color: black;
  border: none;
  margin-left: 10px; 
}

form {
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   padding: 20px;
   width: 100%;
   box-sizing: border-box;
   margin-top: 20px;
   display: flex;
}

.form-container {
    margin:0 20px;
}


.column-left {
flex: 1;
padding-right: 20px;
}

.column-right {
flex: 1;
padding-left: 20px;
}

label{
display: block;
magin-bottom: 8px;
color: #333;
front-weight: bold;
}

input, select{
width: 100%; /* */
padding: 10px;
margin-bottom: 16px;
box-sizing: border-box;
border: 1px solid #ccc;
border-radius: 4px;
font-size: 16px;
}

